body {
  background: #0f2027;
  font-family: Arial, sans-serif;
  margin: 0;
}

.app {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
}

.calculator {
  background: #111;
  padding: 20px;
  border-radius: 15px;
  width: 320px;
}

#display {
  width: 100%;
  height: 60px;
  font-size: 22px;
  margin-bottom: 10px;
  text-align: right;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 8px;
}

button {
  padding: 15px;
  background: #1f1f1f;
  color: white;
  border: none;
  border-radius: 8px;
}

button:hover {
  background: #00c6ff;
  color: black;
}

.zero {
  grid-column: span 2;
}

.history {
  background: #fff;
  margin-left: 10px;
  padding: 15px;
  border-radius: 15px;
  width: 200px;
}

@media(max-width: 768px) {
  .app {
    flex-direction: column;
    align-items: center;
  }
  .history {
    width: 90%;
    margin-top: 10px;
  }
}
